/*Universal*/
html {
  font-size: 16;
  line-height: 1.5;
  font-family: "Lato", "roboto", sans-serif;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items:  baseline;
  align-content: center;
  background-color: forestgreen;
  color: #ffffff;
}

header h1 {
  margin-left: 1.5rem;
}

.navigation ul {
  display: flex;
  margin-right: 1.5rem;
}

.navigation a {
  color: white;
  padding: 1rem;
}

/*jumbotron*/
.jumbotron {
  background-image: url();
}
